/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color: hsl(192, 17%, 99%);
  
}
.header-container-dark {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("./images/purple-night-sky.jpg");
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.header-container-light {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("https://i.ibb.co/BTvqQhP/rich-martello-ti4p-Ygf-Dmis-unsplash.jpg");
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
}
//Toggle ------------------------------------------------------------------------------




 //STARS ------------------------------------------------------------------------------
 @function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 200;
  position: absolute;
  width: 5px;
  height: 5px;
  background: rgb(225, 206, 233);
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 10000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}

body {
  background: #17151b;
}

//NAV-----------------------------------------------------------------------
.nav-Container{
  display: flex;
  flex-direction: row;
  align-self: center;
}

.nav-Container a {
  color: hsl(192, 17%, 99%);
  text-decoration: none;
  font-size: 2rem;
  margin-top: -4rem;
  padding: 6rem;
  font-family: 'Actor', sans-serif;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  margin-bottom: 20vh;
}
.nav-Container a:hover{
  color:#e68387;
}
//IntroText------------------------------------------------------
  .header-middle-contaier {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    width: 60%;
   
  }
  
  .header-middle-contaier h2 {
    font-size: 2rem;
    letter-spacing: 5px;
    font-family: "Courier New", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    animation: fadeIn ease 6s;
    animation-iteration-count: 1;
    -webkit-animation: fadeIn ease 6s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
  
    .header-middle-contaier h1 {
    font-size: 6.5rem;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 5.9rem;
    padding-bottom: 1rem;
  
  }
  
  .header-middle-contaier h1 .cat {
    font-size: 9.5rem;
    font-weight: 600;
    
  }
  
  .header-middle-contaier p {
    font-size: 1.3rem;
    font-weight: 300;
    }

    //GRID ABOUT SECTION-------------------------------------------------------------------------
  
    .grid-container {
      display: grid;
      grid-template-columns: 0.4fr 0.4fr 1fr 1fr ;
      grid-template-rows: 1fr 1fr 1fr 1fr ;
      gap: 0px 0px;
      grid-template-areas:
        "image-container image-container about about"
        "image-container image-container about about "
        "image-container image-container skills skills"
        "image-container image-container skills skills";
        height: 100vh;
        width: 100vw;
    }
    .image-container { grid-area: image-container; }
    .about { grid-area: about; }
    .skills { grid-area: skills; }

    .image-container {
      background: #17151b;
      display:flex;
      flex-direction: column;
      align-items: center;
    }

    .me {
     height: 35%;
     margin-top: 5%;
      
    }

    .myName {
      height: 17%;
      margin-top: 5%;
      
      
    
    }

    .image-container p {
      margin-top: 10%;
      font-size: 1.3rem;
      letter-spacing: 5px;
      font-family: "Courier New", sans-serif;
      font-weight: normal;
      text-transform: uppercase;
    }

    .contact-stuff {
     height: 6.5%;
     margin-top: 10%;
    }

    .about {
  background: whitesmoke;
  background: #26222c;
  
    }
    

    .about h1 {
      color: rgb(243, 235, 235);
      padding: 1.3rem;
      font-size: 4rem;
    }

    .about p {
      text-align: center;
      color:rgb(172, 163, 163);
      
      padding:3rem;
      font-size: 1.4rem;
      margin-top: -1rem;
    }

    .skills {
      background: #26222c;
      border-radius: 0rem 0rem 10rem 10rem;
    }
    .skills h1 {
      color: rgb(243, 235, 235);
      padding: 1.3rem;
      font-size: 4rem;
    }

    .skills ul {
      
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      
      
      
    }

    .skills ul li {
      color:rgb(172, 163, 163);
      padding: 2rem;
      font-size: 1.6rem;
      
    }
    .skillz {
      display: flex;
      flex-direction: column;
      align-items: center;
    
    }

    .skillz img {
      height: 5%;
    }

    .spanMe {
      color:#a87789;
    
    }

    .contact-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      
    }
    .icon {
      margin: 1rem;
      transition: all 800ms ease-in-out;
    }
    
    .icon:hover {
      -ms-transform: rotate(360deg); /* IE 9 */
      -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
      transform: rotate(360deg);
    }
    
    /* Animation */
    .project-title{
      animation: typewriter 1s steps(44) 1s 1 normal both,
             blinkTextCursor 1500ms steps(44) infinite normal;
    }
    @keyframes typewriter{
      from{width: 0;}
      to{width: 5em;}
    }
    @keyframes blinkTextCursor{
      from{border-bottom-color: #a87789;}
      to{border-bottom-color: transparent;}
    }

// Projects --------------------------------------------------------------
    .projects-container {
      width: 100vw;
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #17151b;
      
	}

    .projects {
  width: 90vw;
  
  border-radius: 2rem;
  
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

.project-title {
  font-size: 4rem;
  position: relative; 
  margin: 0 auto;
  border-bottom: 2px dashed #a87789;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-20%);  
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}


.project-left {
  width: 90%;
  height: 90%;
  background: #26222c;
  display: flex;
  flex: row;
  // justify-content: center;
  // align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 4rem;
}
.p-left-image{
  width: 50%;
  height: 100%;
  
}

.p-left-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  
}
.languages-used {

  font-size: 1.1rem;
  font-family: "Courier New", sans-serif;
  margin-bottom: -1rem;
  }

.project-about-p {
  width: 80%;
  margin-top: 2rem;
  font-size: 1.5rem;
  align-self: center;

}






.project-img {
  width: 100%;
  // opacity: 0.7;
  border-radius: 1rem;
  transition: transform .2s;
  position: relative;
  
  
  
}
.project-img:hover{
opacity: 1;
transform: scale(1.05);
filter: drop-shadow(0 0 0.85rem crimson);
}



.left-title{
  margin-top: 1rem;
  font-size: 5rem;
  
  // background: linear-gradient(
  //   to right bottom,
  //   rgba(65, 80, 85, 0.7),
  //   rgba(98, 56, 138, 0.3));
  // border-radius: 2rem;
  align-self: center;
  font-family: 'Actor', sans-serif;
  letter-spacing: 0.2rem;
  
}

.left-purple-title-bar {
width: 100%;
height: 50%;
background: #26222c;
}
.left-buttons{
  margin-top: 2rem;
  // display: flex;
  // justify-content: center;
}
.left-buttons a {
  color:rgb(250, 246, 246);
  font-weight: bold;
  text-decoration: none;
  font-size: 2rem;
  background: #26222c;
  padding: 1rem;
  margin: 1rem;
  font-family: 'Actor', sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  // background: linear-gradient(
  //   to right bottom,
  //   rgba(65, 80, 85, 0.7),
  //   rgba(98, 56, 138, 0.3));
  border: 2px solid #a87789;
  border-radius: 1rem;
}
.left-buttons a:hover{
  color: #e0afc1;
}
//RIGHT -------------------
.project-right {
  width: 90%;
  height: 90%;
  background: #26222c;
  display: flex;
  flex: row;
  // justify-content: center;
  // align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 4rem;
}

.nasa-img:hover {
  filter: drop-shadow(0 0 0.85rem rgb(114, 52, 133));
}

.nasa-title {
  font-size: 4rem;

}

//Contact ------------------------------------------------------

.wrap {
  margin: 40px auto;
  position: relative;
  width: 200px;
}

.circle {
  height: 200px;
  width: 200px;
  background: #a87789;
  border: 4px solid #a37485;
  border-radius: 50%;
  cursor: pointer;
  display: block;
}
.circle:hover {
  background: #e0afc1;
  border: 4px solid #e0afc1;
}
.circle:active {
  background: #e0afc1;
}

.envelope {
  height: 0;
  width: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom: 40px solid #FFF;
  border-left: 60px solid #FFF;
  border-right: 60px solid #FFF;
  border-top: 40px solid transparent;
  margin: 60px 40px;
  position: absolute;
}

.envelope-top {
  height: 0;
  width: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 40px solid #FFF;
  margin: 55px 40px;
  position: absolute;
}



//Footer -------------------------------------------------------

.footer-container 
{
  margin-top:10rem;
  width: 100vw;
  height: 10vh;
  background: #26222c;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.footer-container p {
  font-size: 1rem;
}